img[src^="https://bsky.app/profile/"]:has(+ .embed-plus-container) {
  display: none !important;
}
.image-embed:has(img[src^="https://bsky.app/profile/"]):has(+ .embed-plus-container) {
  display: none !important;
}

.embed-plus-container > :is(.loading-embed, .error-embed) {
  display: flex;
  align-content: center;
  height: 150px;
  width: 600px;
  max-width: 100%;
  background-color: var(--background-primary-alt);
  border: var(--border-width) solid var(--background-modifier-border);
  border-radius: var(--radius-m);
}
.embed-plus-container > :is(.loading-embed, .error-embed) > * {
  margin-block: auto;
}
.embed-plus-container > .error-embed {
  color: var(--text-error);
}
.embed-plus-container > .loading-embed + .external-embed {
  height: 1px;
}

.embed-plus-container .icon-wrapper {
  --icon-size: var(--icon-xl);
  padding-inline: 1rem;
}
.embed-plus-container > .loading-embed svg {
  animation: spin 2s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}
