img[src^="https://bsky.app/profile/"]:has(+ .embed-plus-container) {
  display: none !important;
}
.image-embed:has(img[src^="https://bsky.app/profile/"]):has(+ .embed-plus-container) {
  display: none !important;
}

.embed-plus-container > :is(.loading-embed, .error-embed) {
  display: flex;
  align-content: center;
  height: 150px;
  width: 600px;
  max-width: 100%;
  background-color: var(--background-primary-alt);
  border: var(--border-width) solid var(--background-modifier-border);
  border-radius: var(--radius-m);
}
.embed-plus-container > :is(.loading-embed, .error-embed) > div {
  margin-block: auto;
  margin-inline: 1rem;
}
.embed-plus-container > .error-embed > div {
  color: var(--text-error);
}
